# Core dependencies
torch
numpy
pillow
opencv-python-headless
dlib
bump-my-version
coverage
mypy
pre-commit
pytest
ruff

# Development dependencies
black==23.7.0
isort==5.12.0
pytest-cov==4.1.0
sphinx==7.2.6
sphinx-rtd-theme==1.3.0